section.py-8.sm_py-16.container
	.w-full(class="md_w-1/2 md_pr-4")
		h2.text-indigo.text-3xl.sm_text-4xl.xl_text-5xl.font-extrabold.mb-4 Карьерный трек
		p.text-lg.text-indigo.font-semibold.mb-6 Персональная программа обучения в зависимости от точки старта, желаний и возможностей студентов
	.flex.justify-between.items-center.sm_items-start.relative.mb-3.sm_mb-20
		.flex.items-center.justify-start.sm_justify-center.relative.z-10(class="lg_w-2/12 sm_w-3/12 w-2/12")
			.sm_w-24
				p.text-yellow.text-5xl.sm_text-7xl.font-bold A 
				p.hidden.sm_block.text-md.sm_text-lg.text-indigo.font-bold Начинающий маркетолог
		.block.sm_pt-4.lg_pt-0(class="w-8/12 sm_w-6/12 lg_w-8/12")
			img(src=require("/img/Group_7683.svg"), alt="").w-full.hidden.sm_block
			img(src=require("/img/Group_7684.svg"), alt="").w-full.sm_hidden.h-10.object-contain.relative.z-10
			img(src=require("/img/bg-arrow.svg"), alt="").w-full.sm_hidden.absolute.left-0.-top-2
			p.hidden.lg_block.text-3xl.xl_text-4xl.font-bold.text-indigo.text-center.mt-3 Организуем кратчайший путь обучения маркетолога из точки А в точку В
		.flex.items-center.justify-end.sm_justify-center.relative.z-10(class="lg_w-2/12 sm_w-3/12 w-2/12")
			.sm_w-24
				p.text-yellow.text-5xl.sm_text-7xl.font-bold B
				p.hidden.sm_block.text-md.sm_text-lg.text-indigo.font-bold Директор по&nbsp;digital-маркетингу
	.flex.justify-between.items-center.relative.mb-12.sm_hidden
		.w-24
			p.text-md.sm_text-lg.text-indigo.font-bold Начинающий маркетолог
		.w-24.text-right
			p.text-md.sm_text-lg.text-indigo.font-bold Директор по&nbsp;digital-маркетингу
	.flex.flex-wrap 
		.flex.items-center.mb-6(class="sm_w-1/2 lg_w-1/3 sm_pr-4")
			img(src=require("/img/Group_7453.svg"), alt="").lg_w-24.w-16.mr-4
			span.font-semibold.text-indigo Определяем стартовый уровень студента и намечаем желаемый результат к концу обучения
		.flex.items-center.mb-6(class="sm_w-1/2 lg_w-1/3 sm_pl-4 lg_pr-4")
			img(src=require("/img/Group_27451.svg"), alt="").lg_w-24.w-16.mr-4
			span.font-semibold.text-indigo Составляем индивидуальный образовательный трек из нужных модулей разных курсов
		.flex.items-center.mb-6(class="lg_w-1/3 lg_pl-4 sm_w-1/2")
			img(src=require("/img/Group_2123.svg"), alt="").lg_w-24.w-16.mr-4
			span.font-semibold.text-indigo Выпускаем готового специалиста со скидкой до 50% и бесплатной консультацией с HR-ом