- var num = 1;
mixin arrow-marketing-academy(year, text)
	.w-full.relative(class="md_w-1/5 md_pr-4 pl-6 md_pl-0 ml-3 md_ml-0")
		p.text-indigo.text-4xl.font-extrabold.mb-2.md_mb-3= year
		.w-4.h-4.bg-yellow.rounded-full.md_mb-3.left-0.top-2.md_top-0.absolute.md_relative
		p.text-indigo.font-bold.text-sm.mb-6.md_mb-0= text
section.pt-32.sm_pt-56.md_pt-48.lg_pt-36.mb-14.z-20.relative.overflow-hidden
	.container.mb-6
		.flex.items-start.flex-wrap 
			.w-full(class="sm_w-7/12 sm_pr-4")
				h1.text-3xl.md_text-4xl.xl_text-5xl.font-extrabold.mb-4.text-indigo Академия маркетинга международного уровня
			.w-full(class="sm_w-5/12 sm_pl-4")
				+mainTextSecondary('Все курсы адаптированы под задачи студентов, наполнены актуальными знаниями, при этом не перегружены лишней информацией')
	.flex.items-center.justify-center.mb-12
		while num <= 8
			img(src=require("./img/user-"+num++ +".jpg"), alt="").user-img
	.container.py-6
		.flex.flex-wrap.relative
			img(src=require("/img/Group_7681.svg"), alt="").hidden.md_block.absolute.mt-1.lg_mt-0.top-12.left-1.w-full
			img(src=require("/img/Group_7682.svg"), alt="").md_hidden.absolute.left-3.top-4.h-full.arrow-img-mobile
			+arrow-marketing-academy('2012', 'Открытие центра обучения')
			+arrow-marketing-academy('2013', 'maed.ru – официальный представитель NIMA в России')
			+arrow-marketing-academy('2015', 'Запуск первого в России курса по системному электронному маркетингу')
			+arrow-marketing-academy('2020', 'Разработали 20 курсов по разным специализациям в маркетинге.')
			+arrow-marketing-academy('2021', 'Обучили более 10000 чел. на курсах и более 200 000 на бесплатных мероприятиях')