section.overflow-hidden
	.swiper-gallery.relative
		.swiper-wrapper
			.swiper-slide.width-initial.mr-0
				img(src=require("/img/img-gallery-1.jpg"), alt="").h-40
			.swiper-slide.width-initial.mr-0
				img(src=require("/img/img-gallery-2.jpg"), alt="").h-40
			.swiper-slide.width-initial
				img(src=require("/img/img-gallery-3.jpg"), alt="").h-40
			.swiper-slide.width-initial
				img(src=require("/img/img-gallery-4.jpg"), alt="").h-40
			.swiper-slide.width-initial
				img(src=require("/img/img-gallery-5.jpg"), alt="").h-40
			.swiper-slide.width-initial
				img(src=require("/img/img-gallery-6.jpg"), alt="").h-40
			.swiper-slide.width-initial
				img(src=require("/img/img-gallery-7.jpg"), alt="").h-40
		.swiper-button-prev.duration-300.text-yellow
		.swiper-button-next.duration-300.text-yellow
	.bg-indigo
		.container.pb-10.pt-16
			h2.text-white.text-3xl.sm_text-4xl.xl_text-5xl.font-black.mb-8 Что дают программы NIMA
			.flex.flex-wrap
				div(class="md_w-3/12 md_pr-4")
					h5.text-white.text-xl.font-extrabold.mb-4.pt-3.md_pt-0 Европейский диплом и&nbsp;квалификацию
					p.text-white.mb-6 Система образования NIMA на протяжении десятилетий пользуется высокой репутацией
				div(class="md_w-3/12 md_px-4")
					h5.text-white.text-xl.font-extrabold.mb-4.pt-3.md_pt-0 Системный подход к&nbsp;маркетингу
					p.text-white.mb-6 Формирует понимание, как выстроить маркетинг в любой компании
				div(class="md_w-3/12 md_px-4")
					h5.text-white.text-xl.font-extrabold.mb-4.pt-3.md_pt-0 Собственный маркетинговый план
					p.text-white.mb-6 Создается во время обучения под контролем экспертов (В агентстве – от 300 000 рублей) 
				div(class="md_w-3/12 md_pl-4")
					h5.text-white.text-xl.font-extrabold.mb-4.pt-3.md_pt-0 Преимущество перед конкурентами
					p.text-white.mb-6 Преподаватели с опытом работы в России и за рубежом раскроют секреты эффективного маркетинга 
