section.py-8.sm_py-16.container
	.flex.flex-wrap.items-center.mb-8
		.w-full(class="md_w-1/2 md_pr-4")
			h2.text-indigo.text-3xl.sm_text-4xl.xl_text-5xl.font-extrabold.mb-4 Кейсы <br> выпускников
		.w-full.flex.flex-wrap(class="md_w-1/2 md_pl-4")
			p.text-lg.text-indigo.font-semibold.mb-6 Журнал о digital, маркетинге, бизнесе и менеджменте. Подробные мануалы, исчерпывающие гайды, инструкции, обзоры и новости в мире маркетинга.
	.block
		.swiper-container.relative.pb-8.sm_pb-12.swiper-container-yellow
			.swiper-wrapper
				.swiper-slide.swiper-slide-1_2
					.lg_px-2
						.border.border-indigo.rounded-xl.px-10.py-8.mb-6
							a(href="#").inline-block.text-indigo.font-black.text-2xl.mb-5.hover_text-blue-dark.duration-300 Как начать карьеру интернет-маркетолога
							p.mb-4.text-indigo.text-sm Карьерный путь, навыки и обязанности начинающего маркетолога.
							a(href="#").block.rounded-md.overflow-hidden.mb-5
								img(src=require("/img/Yellow_Prod_card.jpg"), alt="").h-28.object-cover.w-full
							a(href="#").inline-flex.items-center.rounded-lg.text-center.px-5.py-2.duration-300.text-white.bg-red.hover_bg-red-dark
								span.underline.mr-2 Читать
								<svg class="w-6" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M3 10V11H14V14L18 10.5L14 7V10H3Z" fill="white"/> </svg>
				.swiper-slide.swiper-slide-1_2
					.lg_px-2
						.border.border-indigo.rounded-xl.px-10.py-8.mb-6
							a(href="#").inline-block.text-indigo.font-black.text-2xl.mb-5.hover_text-blue-dark.duration-300 Как начать карьеру интернет-маркетолога
							p.mb-4.text-indigo.text-sm Карьерный путь, навыки и обязанности начинающего маркетолога.
							a(href="#").block.rounded-md.overflow-hidden.mb-5
								img(src=require("/img/Yellow_Prod_card.jpg"), alt="").h-28.object-cover.w-full
							a(href="#").inline-flex.items-center.rounded-lg.text-center.px-5.py-2.duration-300.text-white.bg-red.hover_bg-red-dark
								span.underline.mr-2 Читать
								<svg class="w-6" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M3 10V11H14V14L18 10.5L14 7V10H3Z" fill="white"/> </svg>
				.swiper-slide.swiper-slide-1_2
					.lg_px-2
						.border.border-indigo.rounded-xl.px-10.py-8.mb-6
							a(href="#").inline-block.text-indigo.font-black.text-2xl.mb-5.hover_text-blue-dark.duration-300 Как начать карьеру интернет-маркетолога
							p.mb-4.text-indigo.text-sm Карьерный путь, навыки и обязанности начинающего маркетолога.
							a(href="#").block.rounded-md.overflow-hidden.mb-5
								img(src=require("/img/Yellow_Prod_card.jpg"), alt="").h-28.object-cover.w-full
							a(href="#").inline-flex.items-center.rounded-lg.text-center.px-5.py-2.duration-300.text-white.bg-red.hover_bg-red-dark
								span.underline.mr-2 Читать
								<svg class="w-6" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M3 10V11H14V14L18 10.5L14 7V10H3Z" fill="white"/> </svg>
				.swiper-slide.swiper-slide-1_2
					.lg_px-2
						.border.border-indigo.rounded-xl.px-10.py-8.mb-6
							a(href="#").inline-block.text-indigo.font-black.text-2xl.mb-5.hover_text-blue-dark.duration-300 Как начать карьеру интернет-маркетолога
							p.mb-4.text-indigo.text-sm Карьерный путь, навыки и обязанности начинающего маркетолога.
							a(href="#").block.rounded-md.overflow-hidden.mb-5
								img(src=require("/img/Yellow_Prod_card.jpg"), alt="").h-28.object-cover.w-full
							a(href="#").inline-flex.items-center.rounded-lg.text-center.px-5.py-2.duration-300.text-white.bg-red.hover_bg-red-dark
								span.underline.mr-2 Читать
								<svg class="w-6" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M3 10V11H14V14L18 10.5L14 7V10H3Z" fill="white"/> </svg>
				.swiper-slide.swiper-slide-1_2
					.lg_px-2
						.border.border-indigo.rounded-xl.px-10.py-8.mb-6
							a(href="#").inline-block.text-indigo.font-black.text-2xl.mb-5.hover_text-blue-dark.duration-300 Как начать карьеру интернет-маркетолога
							p.mb-4.text-indigo.text-sm Карьерный путь, навыки и обязанности начинающего маркетолога.
							a(href="#").block.rounded-md.overflow-hidden.mb-5
								img(src=require("/img/Yellow_Prod_card.jpg"), alt="").h-28.object-cover.w-full
							a(href="#").inline-flex.items-center.rounded-lg.text-center.px-5.py-2.duration-300.text-white.bg-red.hover_bg-red-dark
								span.underline.mr-2 Читать
								<svg class="w-6" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M3 10V11H14V14L18 10.5L14 7V10H3Z" fill="white"/> </svg>
			.swiper-pagination.darken-revert
			.swiper-button-prev.duration-300.text-yellow.bg-indigo
			.swiper-button-next.duration-300.text-yellow.bg-indigo