section.container
	.w-full(class="sm_w-10/12")
		h2.text-indigo.text-3xl.sm_text-4xl.xl_text-5xl.font-extrabold.mb-6 MAED – единственный официальный представитель NIMA в России с 2013
	.flex.items-center.flex-wrap 
		.w-full(class="lg_w-1/2 sm_pr-4")
			.max-w-sm.mb-6
				img(src=require("/img/nima-logo-white.svg"), alt="" class="w-11/12").sm_w-100
			p.text-lg.text-indigo.font-semibold.mb-8 Нидерландский институт маркетинга и международная маркетинговая ассоциация, которая объединяет компании, банки и маркетинговые агентства Европы:
			p.text-sm.text-indigo.max-w-sm.font-semibold.mb-5 Phillips, TNS, Ogilvy, Unilever, P&amp;G, IMB, BMW, Heineken, Danone, Campina, Radobank, Shell, Pfizer и&nbsp;многие другие
			.max-w-sm.flex.flex-wrap.items-center.sm_justify-between.mb-8
				img(src=require("/img/Frame-7.png"), alt="").h-4.mx-1.mb-2
				img(src=require("/img/Frame-5.png"), alt="").h-4.mx-1.mb-2
				img(src=require("/img/Frame-2.png"), alt="").h-4.mx-1.mb-2
				img(src=require("/img/Frame-1.png"), alt="").h-4.mx-1.mb-2
				img(src=require("/img/Frame-6.png"), alt="").h-4.mx-1.mb-2
				img(src=require("/img/Frame-4.png"), alt="").h-4.mx-1.mb-2
				img(src=require("/img/Frame-3.png"), alt="").h-4.mx-1.mb-2
			a(href="#").inline-block.px-8.md_px-10.py-3.rounded-xl.duration-300.bg-indigo.text-white.hover_bg-blue-dark.mb-16.sm_mb-20.lg_mb-0
				span.underline.font-semibold Подробнее о NIMA
				span.course-card__main-colorder-btn-triangle.inline-block
		.hidden.lg_block.w-full(class="lg_w-1/2 sm_pl-4")
			.flex.justify-end
				.relative(class="w-11/12")
					p.text-sm.text-indigo.font-semibold.mb-2 В 2021 году NIMA <br> отмечает свое 55-летие
					img(src=require("/img/newspapper.png"), alt="").w-full
					span.rounded-xl.bg-white.text-lg.font-bold.absolute.bottom-24.-left-36.max-w-xs.px-3.py-4.shadow-sm Вырезка из&nbsp;газеты 1966 года с&nbsp;заметкой об&nbsp;открытии института