mixin h1Title(text, color = 'indigo', margin = '6')
	h1.text-3xl.md_text-4xl.lg_text-5xl.font-extrabold.text-indigo(class="text-"+color + " mb-"+margin)!= text
mixin userCard(img, name, title, facebook, instagram, vk)
	.user-card.mb-10
		img(src=require("./img/" + img), alt="").w-full.mb-6
		.min-h-sm.flex.items-center.mb-2
			p.font-extrabold.text-2xl= name
		.flex.items-center.-mx-3
			.px-3(class="w-1/2")
				p.text-xs= title
			.px-3.flex.justify-end.-mx-1(class="w-1/2")
				if facebook 
					a(href=facebook target="_blank").h-8.w-8.min-w-8.rounded-full.border.border-current.flex.items-center.justify-center.mx-1.duration-300.user-card__link
						svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg' class="w-4 h-4")
							path(fill-rule='evenodd' class="fill-current" clip-rule='evenodd' d='M14.6234 1.00375L12.2249 1C9.5302 1 7.78878 2.73871 7.78878 5.42982V7.47227H5.37715C5.16875 7.47227 5 7.63668 5 7.83949V10.7988C5 11.0016 5.16895 11.1658 5.37715 11.1658H7.78878V18.633C7.78878 18.8358 7.95753 19 8.16593 19H11.3124C11.5208 19 11.6896 18.8356 11.6896 18.633V11.1658H14.5093C14.7177 11.1658 14.8865 11.0016 14.8865 10.7988L14.8876 7.83949C14.8876 7.74211 14.8478 7.64886 14.7772 7.57994C14.7066 7.51103 14.6103 7.47227 14.5103 7.47227H11.6896V5.74086C11.6896 4.90868 11.8933 4.48622 13.0073 4.48622L14.623 4.48566C14.8312 4.48566 15 4.32124 15 4.11863V1.37077C15 1.16835 14.8314 1.00412 14.6234 1.00375Z' fill='currentColor')
				if instagram 
					a(href=instagram target="_blank").h-8.w-8.min-w-8.rounded-full.border.border-current.flex.items-center.justify-center.mx-1.duration-300.user-card__link
						svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg' class="w-4 h-4")
							path.fill-current(fill-rule='evenodd' clip-rule='evenodd' d='M10 1.5C12.3085 1.5 12.5979 1.50978 13.5045 1.55115C14.4093 1.59242 15.0272 1.73612 15.5678 1.94626C16.1268 2.16345 16.6008 2.45409 17.0734 2.92663C17.5459 3.3992 17.8366 3.87323 18.0538 4.43218C18.2639 4.97284 18.4076 5.59073 18.4488 6.49546C18.4902 7.40208 18.5 7.69154 18.5 10C18.5 12.3085 18.4902 12.5979 18.4488 13.5045C18.4076 14.4093 18.2639 15.0272 18.0538 15.5678C17.8366 16.1268 17.5459 16.6008 17.0734 17.0734C16.6008 17.5459 16.1268 17.8366 15.5678 18.0538C15.0272 18.2639 14.4093 18.4076 13.5045 18.4488C12.5979 18.4902 12.3085 18.5 10 18.5C7.69154 18.5 7.40208 18.4902 6.49546 18.4488C5.59073 18.4076 4.97284 18.2639 4.43218 18.0538C3.87323 17.8366 3.3992 17.5459 2.92663 17.0734C2.45409 16.6008 2.16345 16.1268 1.94626 15.5678C1.73612 15.0272 1.59242 14.4093 1.55115 13.5045C1.50978 12.5979 1.5 12.3085 1.5 10C1.5 7.69154 1.50978 7.40208 1.55115 6.49546C1.59242 5.59073 1.73612 4.97284 1.94626 4.43218C2.16345 3.87323 2.45409 3.3992 2.92663 2.92663C3.3992 2.45409 3.87323 2.16345 4.43218 1.94626C4.97284 1.73612 5.59073 1.59242 6.49546 1.55115C7.40208 1.50978 7.69154 1.5 10 1.5ZM9.99734 12.8298C11.5616 12.8298 12.8298 11.5616 12.8298 9.99734C12.8298 8.433 11.5616 7.16488 9.99734 7.16488C8.433 7.16488 7.16488 8.433 7.16488 9.99734C7.16488 11.5616 8.433 12.8298 9.99734 12.8298ZM9.99734 5.63383C12.4072 5.63383 14.3608 7.58742 14.3608 9.99734C14.3608 12.4072 12.4072 14.3608 9.99734 14.3608C7.58742 14.3608 5.63383 12.4072 5.63383 9.99734C5.63383 7.58742 7.58742 5.63383 9.99734 5.63383ZM15.8556 5.37224C15.8556 5.94601 15.3904 6.41111 14.8166 6.41111C14.2429 6.41111 13.7778 5.94601 13.7778 5.37224C13.7778 4.79847 14.2429 4.33333 14.8166 4.33333C15.3904 4.33333 15.8556 4.79847 15.8556 5.37224Z' fill='currentColor')
				if vk
					a(href=vk target="_blank").h-8.w-8.min-w-8.rounded-full.border.border-current.flex.items-center.justify-center.mx-1.duration-300.user-card__link
						svg(width='13' height='7' viewBox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg' class="w-4 h-4")
							path(d='M12.8792 6.28082C12.8792 6.23288 12.8275 6.23288 12.8275 6.18493C12.6206 5.80137 12.1551 5.32192 11.5344 4.79452C11.2241 4.5548 11.0689 4.36301 10.9655 4.26712C10.8103 4.07534 10.8103 3.93151 10.862 3.73973C10.9137 3.59589 11.1206 3.35616 11.4827 2.92465C11.6896 2.68493 11.793 2.5411 11.9482 2.39726C12.7241 1.43836 13.0861 0.815065 12.9827 0.527393L12.931 0.479452C12.8792 0.431507 12.8275 0.383563 12.7241 0.383563C12.6206 0.335618 12.4655 0.335618 12.3103 0.383563H10.3448C10.2931 0.383563 10.293 0.383563 10.1896 0.383563C10.1379 0.383563 10.0862 0.383563 10.0862 0.383563H10.0344H9.98271L9.93098 0.431504C9.87926 0.479449 9.87925 0.479448 9.87925 0.527393C9.67236 1.05479 9.41374 1.4863 9.15512 1.96575C8.99995 2.20548 8.84478 2.44521 8.68961 2.63699C8.53444 2.82877 8.43098 2.9726 8.32754 3.06849C8.22409 3.16438 8.12064 3.21233 8.06892 3.30822C8.01719 3.35616 7.91375 3.40411 7.91375 3.35617C7.86203 3.35617 7.8103 3.35616 7.8103 3.30822C7.75857 3.26027 7.70686 3.21233 7.65513 3.16438C7.60341 3.11644 7.6034 3.02054 7.55168 2.92465C7.55168 2.82876 7.55168 2.73287 7.55168 2.68493C7.55168 2.63698 7.55168 2.49315 7.55168 2.39726C7.55168 2.25343 7.55168 2.15753 7.55168 2.10959C7.55168 1.96575 7.55168 1.77397 7.55168 1.58219C7.55168 1.39041 7.55168 1.24657 7.55168 1.15068C7.55168 1.05479 7.55168 0.910958 7.55168 0.815067C7.55168 0.671232 7.55168 0.575338 7.55168 0.527393C7.55168 0.479448 7.49997 0.38356 7.49997 0.335615C7.44824 0.28767 7.39651 0.239723 7.34479 0.191778C7.29306 0.143833 7.18962 0.143834 7.13789 0.095889C6.87928 0.0479438 6.56894 0 6.20687 0C5.37929 0 4.81032 0.0479467 4.60343 0.143837C4.49998 0.191782 4.39653 0.239725 4.34481 0.335615C4.24136 0.431506 4.24136 0.479452 4.29308 0.479452C4.5517 0.527398 4.7586 0.623284 4.86205 0.767119L4.91377 0.863016C4.9655 0.910961 4.96549 1.00685 5.01721 1.15068C5.06894 1.29452 5.06894 1.43835 5.06894 1.63013C5.06894 1.91781 5.06894 2.20548 5.06894 2.39726C5.06894 2.63699 5.01721 2.78082 5.01721 2.92465C5.01721 3.06849 4.9655 3.16438 4.91377 3.21233C4.86205 3.30822 4.86204 3.35617 4.81032 3.35617C4.81032 3.35617 4.81032 3.40411 4.75859 3.40411C4.70687 3.40411 4.65515 3.45205 4.5517 3.45205C4.49998 3.45205 4.39653 3.40411 4.34481 3.35617C4.24136 3.30822 4.13791 3.21233 4.08619 3.11644C3.98274 3.02055 3.87929 2.87671 3.77584 2.68493C3.6724 2.49315 3.51722 2.30137 3.41377 2.0137L3.31033 1.82192C3.25861 1.72603 3.15516 1.53425 3.05171 1.29452C2.94826 1.05479 2.84481 0.863016 2.74137 0.623289C2.68964 0.527399 2.63792 0.479449 2.5862 0.431504H2.53447C2.53447 0.431504 2.48274 0.383563 2.43102 0.383563C2.3793 0.383563 2.32758 0.335615 2.27585 0.335615H0.413792C0.206897 0.335615 0.103451 0.383559 0.051727 0.431504L0 0.479452C0 0.479452 0 0.527396 0 0.575341C0 0.623287 3.1562e-06 0.671229 0.051727 0.767119C0.310346 1.34246 0.620688 1.91781 0.931031 2.49315C1.24137 3.02055 1.55172 3.5 1.75862 3.83562C2.01724 4.17123 2.22413 4.50685 2.48275 4.79452C2.74137 5.08219 2.89653 5.27397 2.94826 5.36986C3.05171 5.46575 3.10343 5.5137 3.15515 5.56164L3.31033 5.70548C3.41378 5.80137 3.56895 5.94521 3.77584 6.08904C3.98274 6.23288 4.24136 6.37671 4.49997 6.52055C4.75859 6.66438 5.06894 6.76028 5.37929 6.85617C5.74135 6.95206 6.05169 7 6.36204 6.95206H7.13789C7.29307 6.95206 7.39652 6.90411 7.49997 6.80822L7.55168 6.76027C7.55168 6.71233 7.60341 6.71233 7.60341 6.66438C7.60341 6.61644 7.60341 6.5685 7.60341 6.47261C7.60341 6.28082 7.60341 6.13699 7.65513 5.99315C7.70686 5.84932 7.70686 5.75343 7.75859 5.65754C7.81031 5.56165 7.86203 5.5137 7.91375 5.46575C7.96548 5.41781 8.01721 5.36986 8.01721 5.36986H8.06892C8.17237 5.32192 8.32754 5.36986 8.43099 5.46575C8.58616 5.56164 8.74133 5.70548 8.84478 5.84932C8.94822 5.99315 9.10341 6.13699 9.3103 6.32877C9.5172 6.52055 9.67237 6.66439 9.77581 6.71233L9.93098 6.80822C10.0344 6.85617 10.1379 6.90411 10.2931 6.95206C10.4482 7 10.5517 7 10.6551 7L12.4137 6.95206C12.5689 6.95206 12.7241 6.90411 12.8275 6.85617C12.931 6.80822 12.9827 6.76027 12.9827 6.66438C12.9827 6.61644 12.9827 6.52055 12.9827 6.47261C12.8792 6.37672 12.8792 6.32877 12.8792 6.28082Z' fill='currentColor')
		a(href="#modalUser" data-modal="user" data-img='img/'+img data-name=name data-title=title data-about="Электронный маркетер, разработавший и построивший эффективный интернет-маркетинг в нескольких десятках компаний на технической базе «Комплето»." data-facebook=facebook data-instagram=instagram data-vk=vk).text-current.text-xs.font-semibold.underline.hover_text-red.duration-300 Подробнее
mixin 360MainTitle(num, text, margin = '6', textColor = 'indigo')
	.flex.items-end(class="mb-"+margin)
		.text-5xl.text-red.font-extrabold.mr-2= num + '.'
		h2.text-3xl.sm_text-4xl.xl_text-5xl.xl_text-titlemin.font-extrabold(class="lg_pb-0.5 text-"+textColor)!= text
mixin listCheck(text, margin = '8', color = 'red', fontSize = 'xs', position = 'start', fontWeight = 'semibold', textColor = 'indigo')
	.flex.items-start(class="mb-"+margin + " items-"+position)
		span.listcheck-item-check.mr-3(class="text-"+color)
		if fontSize == 'xl'
			span.font-bold(class="text-base sm_text-"+fontSize +" sm_font-"+fontWeight + " text-" + textColor)!= text
		else
			span(class="text-"+fontSize +" font-"+fontWeight + " text-" + textColor)!= text
mixin mainTitle(text, margin = '4', textColor = 'indigo')
	h2.text-3xl.sm_text-4xl.xl_text-5xl.xl_text-titlemin.font-extrabold(class="mb-"+margin + " text-"+textColor)!= text
mixin mainTextSecondary(text, margin = '6', textColor = 'indigo')
	p.text-lg.lg_text-xl.font-semibold(class="mb-"+margin +" text-"+textColor)!= text
mixin swiperNav(text, bg = 'bg-gray bg-opacity-30 hover_bg-opacity-20')
	.swiper-button-prev.duration-300(class="text-"+text + " " + bg)
	.swiper-button-next.duration-300(class="text-"+text + " " + bg)
mixin arrowBig(full, colorDesktop, colorMob)
	if full 
		.arrow-container.arrow-container-full(class="md_text-"+ colorDesktop + " text-"+colorMob)
			.arrow-container__item
			.arrow-container__item
	else
		.arrow-container
			.arrow-container__item
			.arrow-container__item
mixin madeByMaed(arr)
	each val, index in arr
		if index % 2
			span.block= val
		else
			span.block.transform.translate-y-10= val
mixin tableLabel(...images)
	.table-label.flex.flex-wrap
		each img in images
			.flex.items.center.justify-center.px-4.py-6.filter.grayscale.hover_grayscale-0.duration-300.table-label__item(class="lg_w-2/12 sm_w-3/12 w-4/12")
				img(src=require("./img/" + img), alt="").h-10.object-contain.w-full
mixin skewBlock(color, position)
	if position == "right"
		.skew-block.skew-block__right(class="bg-"+color)
	else 
		.skew-block(class="bg-"+color)
mixin btn(color, hoverColor, text, margin = '6')
	a(href="#" class="bg-" + color + " hover_bg-" + hoverColor + " mb-" + margin).inline-flex.items-center.justify-center.px-8.md_px-10.py-4.rounded-lg.duration-300.text-white.sm_w-initial.w-full.text-center
		span.font-semibold.text-sm= text 
mixin btnTriangle(color, hoverColor, text, margin, underline)
	a(href="#" class="bg-" + color + " hover_bg-" + hoverColor + " mb-" + margin).inline-flex.items-center.px-8.md_px-10.py-3.rounded-xl.duration-300.text-white
		if underline == true
			span.font-semibold.underline.mr-3= text 
		else
			span.font-semibold.mr-3= text 
		span.triangle-to-right.triangle-to-right__big.inline-block
mixin btnArrow(className, text)
	a(href="#" class=className).inline-flex.items-center.text-center.duration-300
		span.underline.mr-2= text
		svg.w-6(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
			path(fill-rule='evenodd' clip-rule='evenodd' d='M3 10V11H14V14L18 10.5L14 7V10H3Z' class="fill-current")
mixin catalogTitle(text)
	h2.text-3xl.sm_text-4xl.xl_text-5xl.font-black.text-white= text
mixin catalogUnderTitle(color, text, attr = true)
	if attr
		p.text-xl.sm_text-2xl.font-semibold.sm_font-bold.mb-4.catalog-title-item(data-titleitem=text class="text-"+color)= text
	else 
		p.text-xl.sm_text-2xl.font-semibold.sm_font-bold.mb-4(class="text-"+color)= text
mixin graduatesCard(name, title, text, img, video = false)
	if video
		a(href="https://youtu.be/AImkPHOsejM" data-fancybox).relative.block.mb-2
			.rounded-full.overflow-hidden
				img(src=require("/img/"+img), alt="").object-contain.w-full
			.absolute.h-12.w-12.rounded-full.bottom-0.right-0.bg-indigo.flex.items-center.justify-center.duration-300.hover_bg-blue-dark.text-red.hover_text-white
				span.triangle-to-right.triangle-to-right__big.ml-1
	else
		img(src=require("./img/"+ img), alt="").object-contain.w-full.mb-2
	p.text-2xl.font-black.mb-2.text-indigo!= name
	p.text-xs.font-bold.mb-4.text-indigo= title
	p.text-xs.text-indigo.mb-6= text
mixin graduateCase
	.border.border-indigo.rounded-xl.px-10.py-8.mb-6
		a(href="#").inline-block.text-indigo.font-black.text-2xl.mb-5.hover_text-blue-dark.duration-300 Как начать карьеру интернет-маркетолога
		p.mb-4.text-indigo.text-sm Карьерный путь, навыки и обязанности начинающего маркетолога.
		a(href="#").block.rounded-md.overflow-hidden.mb-5
			img(src=require("./img/Yellow_Prod_card.jpg"), alt="").h-28.object-cover.w-full
		a(href="#").inline-flex.items-center.text-center.duration-300.rounded-lg.px-5.py-2.text-white.bg-red.hover_bg-red-dark
			span.underline.mr-2 Читать
			svg.w-6(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
				path(fill-rule='evenodd' clip-rule='evenodd' d='M3 10V11H14V14L18 10.5L14 7V10H3Z' class="fill-current")
mixin footerList(...lists)
	ul 
		each list in lists
			li.mb-2
				a(href="#").text-xxs.font-semibold.text-white.opacity-50.duration-300.hover_text-red.hover_opacity-100.sm_underline= list
mixin headerList(disabled, ...lists)
	ul.lg_pt-4
		each list, index in lists
			if disabled
				li.mb-4.flex
					if index == lists.length - 1
						span.text-xs.text-white.font-semibold.inline-block.leading-tight.opacity-50!= list
					else 
						a(href="#").text-xs.text-white.font-semibold.hover_text-red.duration-300.inline-block.leading-tight!= list
			else 
				li.mb-4.flex
					a(href="#").text-xs.text-white.font-semibold.hover_text-red.duration-300.inline-block.leading-tight!= list
mixin dropdownLink(id, parent, text)
	a(href=id data-dropdown="true" data-parent=parent).flex.items-center.justify-between.py-4.drop__link
		span.font-extrabold.text-xl.drop__link-item.text-indigo= text
		svg(width='14' class="min-w-4 w-4 ml-4 duration-300 pointer-events-none" height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg')
			path(d='M13 1L7 6L1 1' stroke='#223549' stroke-width='2')
mixin headerListMob(disabled, identity, ...lists)
	.drop__collapse(id=identity)
		ul.py-3 
			each list, index in lists
				li.mb-3 
					if disabled
						if index == lists.length - 1
							span.opacity-50.text-indigo.text-sm.font-semibold= list 
						else 
							a(href="#").text-indigo.text-sm.font-semibold= list 
					else 
						a(href="#").text-indigo.text-sm.font-semibold= list 
mixin radio(link, text, checked, namedCollection)
	input(type="radio" value=link name=namedCollection id="radio-category-"+link checked=checked).checkbox-hidden
	label(for="radio-category-"+link).flex.items-center.cursor-pointer
		span.text-sm.whitespace-nowrap.font-semibold.rounded-xl.hover_bg-indigo.sm_hover_bg-white.hover_text-white.sm_hover_text-indigo.text-indigo.sm_text-white.duration-300.px-3.sm_px-4.py-3.border.border-indigo.sm_border-white.true-radio= text
mixin checkbox(link, text)
	input(type="checkbox" name=link id=link).checkbox-hidden
	label(for=link).flex.items-center.cursor-pointer
		span.true-checkbox.border.border-indigo.sm_border-white.rounded-sm.duration-300 
		span.sm_text-white.text-sm.ml-3.whitespace-nowrap= text
mixin checkbox-form(link, text)
	input(type="checkbox" name=link id=link checked).checkbox-hidden
	label(for=link).flex.items-center.cursor-pointer
		span.true-checkbox.true-checkbox__form.border.border-indigo.rounded-sm.duration-300 
		span.text-indigo.ml-3.whitespace-nowrap= text
mixin start-card-min(bg, title, user)
	a(href="#").block.mb-8
		.min-h-md.px-4.py-5.flex.flex-col.justify-between.relative.rounded-xl.overflow-hidden.duration-300(class="bg-"+ bg + " hover_bg-"+ bg + "-dark")
			if bg == 'yellow'
				div(class="w-10/12 pr-2")
					p.text-indigo.font-bold.text-sm.mb-3 Старт 29 апреля
					p.text-indigo.text-lg.sm_text-xl.xl_text-2xl.font-bold.mb-3= title 
					p.text-indigo.font-bold.text-sm Системный курс с международной квалификацией
			else 
				div(class="w-10/12 pr-2")
					p.text-white.font-bold.text-sm.mb-3 Старт 29 апреля
					p.text-white.text-lg.sm_text-xl.xl_text-2xl.font-bold.mb-3= title 
					p.text-white.font-bold.text-sm Системный курс с международной квалификацией
			img(src=require("./img/"+user), alt="" class="w-3/12").absolute.right-0.bottom-0.h-full.object-contain.object-right-bottom
mixin start-card-xs(bg, title, user)
	a(href="#").block.mb-8
		.px-4.py-5.flex.flex-col.justify-between.relative.rounded-xl.overflow-hidden.duration-300(class="bg-"+ bg + " hover_bg-"+ bg + "-dark")
			if bg == 'yellow'
				.relative.z-20(class="w-10/12 pr-2")
					p.text-indigo.font-bold.text-sm.mb-3 Старт 29 апреля
					p.text-indigo.text-lg.sm_text-xl.xl_text-2xl.font-extrabold.mb-3= title 
					p.text-indigo.font-bold.text-xxs Все что нужно знать SMM-щику
			else 
				.relative.z-20(class="w-10/12 pr-2")
					p.text-white.font-bold.text-sm.mb-3 Старт 29 апреля
					p.text-white.text-lg.sm_text-xl.xl_text-2xl.font-bold.mb-3= title 
					p.text-white.font-bold.text-xxs Все что нужно знать SMM-щику
			img(src=require("./img/"+user), alt="" class="w-4/12").absolute.right-0.bottom-0.h-full.object-contain.object-right-bottom.z-10
mixin start-card(bg, title, desc, user, undertext = 'gray')
	a(href="#").block
		.min-h-lg.px-4.py-5.flex.flex-col.justify-between.relative.mb-4.rounded-xl.overflow-hidden.duration-300(class="bg-"+ bg + " hover_bg-"+ bg + "-dark")
			if bg == 'yellow'
				div(class="w-9/12 pr-2")
					p.text-indigo.font-bold.text-sm.mb-3 Старт 29 апреля
					p.text-indigo.text-lg.sm_text-xl.xl_text-2xl.font-bold.mb-3= title 
					p.text-indigo.font-bold.text-sm.mb-5 Все что нужно знать SMM-щику
				.flex.items-center.flex-wrap
					p.text-2xl.font-extrabold.text-indigo -40%
					p.ml-2.text-indigo.text-xs Скидка <br> до 26 августа
			else 
				div(class="w-9/12 pr-2")
					p.text-white.font-bold.text-sm.mb-3 Старт 29 апреля
					p.text-white.text-lg.sm_text-xl.xl_text-2xl.font-bold.mb-3= title 
					p.text-white.font-bold.text-sm.mb-5 Все что нужно знать SMM-щику
				.flex.items-center.flex-wrap
					p.text-2xl.font-extrabold.text-white -40%
					p.ml-2.text-white.text-xs Скидка <br> до 26 августа
			img(src=require("./img/"+user), alt="" class="w-5/12 xl_w-6/12").absolute.right-0.bottom-0.h-full.object-contain.object-right-bottom
		p.text-center.font-bold.mb-5.opacity-80.duration-300(class="text-"+undertext)= desc
mixin course-card(color, bg, title, user, category = 'smm', feature = 'employment sale diploma', month = '10', prop = 'middle', spec = 'education')
	.px-3.course-card-main__block(class="w-full md_w-1/2 lg_w-1/3" data-title=title data-category=category data-feature=feature data-month=month data-property=prop data-specification=spec)
		.px-4.py-5.flex.flex-col.relative.mb-4.rounded-xl.justify-between.overflow-hidden.course-card-main(class="bg-"+bg + " border border-" + color)
			if bg == "white"
				div(class="sm_w-9/12")
					p.font-bold.text-sm.mb-1.text-indigo Профессия
					p.text-lg.sm_text-xl.xl_text-2xl.font-bold.mb-3.text-indigo.line-height-min= title 
					ul.list-disc.list-inside
						li.text-xs.mb-2.text-indigo Гарантированное трудоустройство
						li.text-xs.mb-2.text-indigo Один курс в подарок
				div(class="w-8/12 pr-2")
					.flex.items-end.flex-wrap
						p.mr-2.text-lg.font-bold.line-through.text-indigo 58 000 &#8381;
						p.text-2xl.font-extrabold.mb-0.relative.popover-parent.text-indigo 2900
							span 
							span.text-xs &#8381; / мес
							span.popover.text-white.duration-300(data-popover="Проверочный текст, который говорит" data-popover-bg="bg-"+color data-popover-text="text-white" class="bg-"+color + " hover_bg-"+color+"-dark") ?
					p.text-lg.font-bold.mb-3.flex.flex-wrap.items-center(class='text-'+color)
						span.mr-1 -40%
						span.text-xs.pt-1 Скидка до 26 Августа
					a(href="#" class="bg-"+color + " text-white hover_bg-"+ color + "-dark").inline-block.px-4.py-3.rounded-md.duration-300
						span.mr-3 Записаться
						span.inline-block.triangle-to-right
			else
				div(class="sm_w-9/12")
					p.font-bold.text-sm.mb-1.text-white Профессия
					p.text-lg.sm_text-xl.xl_text-2xl.font-bold.mb-3.text-white.line-height-min= title 
					ul.list-disc.list-inside
						li.text-xs.mb-2.text-white Гарантированное трудоустройство
						li.text-xs.mb-2.text-white Один курс в подарок
				div(class="w-8/12 pr-2")
					.flex.items-end.flex-wrap
						p.mr-2.text-lg.font-bold.line-through.text-white 58 000 &#8381;
						p.text-2xl.font-extrabold.mb-0.relative.popover-parent.text-white 2900
							span 
							span.text-xs &#8381; / мес
							span.popover.bg-white.duration-300(data-popover="Проверочный текст, который говорит" data-popover-bg="bg-white" data-popover-text="text-"+color class="bg-white text-"+color) ?
					p.text-lg.font-bold.mb-3.flex.flex-wrap.items-center.text-white
						span.mr-1 -40%
						span.text-xs.pt-1 Скидка до 26 Августа
					a(href="#" class="border border-white text-white hover_bg-white hover_text-"+color).inline-block.px-4.py-3.rounded-md.duration-300
						span.mr-3 Записаться
						span.inline-block.triangle-to-right
			img(src=require("./img/"+user), alt="" class="w-6/12 sm_w-5/12 lg_w-6/12").absolute.right-0.bottom-0.h-full.object-contain.object-right-bottom
mixin maed-logo(color, bg, size)
	.flex.align-items-center
		if size == 'xl'
			each val in ['M', 'A', 'E', 'D']
				span.flex.items-center.justify-center.w-8.h-8.text-xl.leading-none.mr-1.font-bold(class="bg-"+bg + " text-"+color)= val
		else if size == '2xl'
			each val in ['M', 'A', 'E', 'D']
				span.flex.items-center.justify-center.w-6.h-6.text-md.sm_w-10.sm_h-10.md_w-14.md_h-14.sm_text-2xl.md_text-4xl.leading-none.mr-1.font-bold(class="bg-"+bg + " text-"+color)= val
		else
			each val in ['M', 'A', 'E', 'D']
				span.flex.items-center.justify-center.w-6.h-6.text-md.leading-none.mr-1.font-bold(class="bg-"+bg + " text-"+color)= val
mixin maed-logo-link(color, bg)
	a(href="#").flex.align-items-center.revert-on-hover
		each val in ['M', 'A', 'E', 'D']
			if bg == 'white'
				span.flex.items-center.justify-center.w-6.h-6.text-md.leading-none.mr-1.font-bold.duration-300.revert-on-hover__item-footer(class="bg-"+bg + " text-"+color)= val
			else
				span.flex.items-center.justify-center.w-6.h-6.text-md.leading-none.mr-1.font-bold.duration-300.revert-on-hover__item-header(class="bg-"+bg + " text-"+color)= val
mixin downloadBtnContent
	span.pointer-events-none.inline-flex.items-center
		svg.w-6(width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg')
			path(d='M13.7048 4.67524L13.7698 5.03949L14.1118 5.1808C14.8763 5.4967 15.5076 6.0678 15.8984 6.79687C16.2891 7.52594 16.4151 8.3679 16.2548 9.1794C16.0945 9.9909 15.658 10.7218 15.0194 11.2476C14.3811 11.7732 13.5804 12.0614 12.7536 12.0632H11.9035C11.8571 12.0632 11.8126 12.0447 11.7797 12.0119L11.3022 12.4895L11.7797 12.0119C11.7469 11.9791 11.7285 11.9346 11.7285 11.8882C11.7285 11.8417 11.7469 11.7972 11.7797 11.7644C11.8126 11.7316 11.8571 11.7131 11.9035 11.7131H12.7539V11.7132L12.7602 11.7131C13.5412 11.7059 14.2932 11.4156 14.8765 10.8961C15.4598 10.3766 15.8349 9.66314 15.9321 8.88809C16.0293 8.11305 15.842 7.32905 15.4051 6.68157C14.9682 6.0341 14.3112 5.5671 13.5561 5.36723L13.5561 5.36714L13.5454 5.36449C13.5092 5.35555 13.4769 5.33533 13.453 5.30675C13.4292 5.27817 13.4151 5.24273 13.4127 5.20558L13.4122 5.19727L13.4115 5.18898C13.3108 4.04071 12.7735 2.97478 11.9104 2.2108C11.0473 1.44682 9.924 1.04298 8.772 1.08249C7.62 1.12199 6.52702 1.60182 5.71825 2.42313C4.90948 3.24445 4.44651 4.34467 4.42473 5.49714L4.42461 5.49714L4.42461 5.50962C4.42455 5.65643 4.43279 5.80313 4.4493 5.94901L4.44935 5.94937C4.45242 5.97641 4.44915 6.00379 4.43979 6.02934L5.07402 6.26161L4.43979 6.02934C4.43044 6.05489 4.41525 6.0779 4.39544 6.09655L4.39544 6.09655L4.39298 6.09888C4.37402 6.11692 4.35107 6.13024 4.326 6.13775L4.5198 6.78477L4.326 6.13775C4.30093 6.14526 4.27444 6.14675 4.24868 6.14211L4.241 6.14072L4.23329 6.13952C4.09628 6.11807 3.95772 6.10825 3.81908 6.11014C3.07798 6.11154 2.36755 6.40654 1.84342 6.93067L2.28917 7.37643L1.84342 6.93067C1.31803 7.45606 1.02287 8.16863 1.02287 8.91164C1.02287 9.65464 1.31803 10.3672 1.84342 10.8926C2.3688 11.418 3.08137 11.7131 3.82438 11.7131H5.10003C5.14644 11.7131 5.19096 11.7316 5.22378 11.7644C5.2566 11.7972 5.27504 11.8417 5.27504 11.8882C5.27504 11.9346 5.2566 11.9791 5.22378 12.0119L5.70138 12.4895L5.22378 12.0119C5.19096 12.0447 5.14645 12.0632 5.10003 12.0632H3.82483C3.0185 12.0626 2.24305 11.753 1.65805 11.1981C1.07305 10.6432 0.722994 9.88515 0.679926 9.07997C0.636859 8.27479 0.904052 7.48373 1.42652 6.86957C1.949 6.25541 2.687 5.86487 3.48867 5.77832L4.04687 5.71805L4.08963 5.15824C4.17958 3.98071 4.69588 2.87639 5.54175 2.05227C6.38762 1.22814 7.50501 0.740787 8.68449 0.681539C9.86397 0.62229 11.0246 0.995216 11.9488 1.73042C12.873 2.46563 13.4973 3.51265 13.7048 4.67524Z' class="stroke-current" stroke='white' stroke-width='1.35085')
			path(d='M10.0743 14.3206L9.8308 14.5641L8.67777 15.7171V14.0865V10.1864C8.67777 10.14 8.65934 10.0954 8.62651 10.0626C8.59369 10.0298 8.54918 10.0114 8.50276 10.0114C8.45635 10.0114 8.41183 10.0298 8.37901 10.0626M10.0743 14.3206L8.37901 10.0626M10.0743 14.3206C10.107 14.2903 10.15 14.2736 10.1947 14.274C10.2406 14.2744 10.2845 14.2928 10.3169 14.3252C10.3494 14.3577 10.3678 14.4016 10.3682 14.4475C10.3686 14.4921 10.3519 14.5352 10.3216 14.5679L8.6265 16.263C8.59368 16.2958 8.54917 16.3142 8.50276 16.3142C8.45639 16.3142 8.41192 16.2958 8.3791 16.2631C8.37908 16.263 8.37906 16.263 8.37903 16.263L6.68395 14.5679C6.65366 14.5352 6.63696 14.4921 6.63734 14.4475C6.63774 14.4016 6.65615 14.3577 6.6886 14.3252C6.72105 14.2928 6.76494 14.2744 6.81083 14.274C6.85549 14.2736 6.89856 14.2903 6.93127 14.3206L7.17473 14.5641L8.32775 15.7171V14.0865V10.1864C8.32775 10.14 8.34619 10.0954 8.37901 10.0626M10.0743 14.3206L7.90142 9.58502L8.37901 10.0626' class="stroke-current" stroke='white' stroke-width='1.35085')
		span.underline.ml-2.text-sm.lg_text-md Скачать бесплатно
mixin social
	ul.flex.items-center.mb-4.sm_order-2.order-1
		li.mx-2
			a(href="#" target="_blank").w-10.h-10.inline-flex.items-center.justify-center.text-white.hover_text-blue-light.duration-300
				svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(fill-rule='evenodd' class="fill-current" clip-rule='evenodd' d='M14.6234 1.00375L12.2249 1C9.5302 1 7.78878 2.73871 7.78878 5.42982V7.47227H5.37715C5.16875 7.47227 5 7.63668 5 7.83949V10.7988C5 11.0016 5.16895 11.1658 5.37715 11.1658H7.78878V18.633C7.78878 18.8358 7.95753 19 8.16593 19H11.3124C11.5208 19 11.6896 18.8356 11.6896 18.633V11.1658H14.5093C14.7177 11.1658 14.8865 11.0016 14.8865 10.7988L14.8876 7.83949C14.8876 7.74211 14.8478 7.64886 14.7772 7.57994C14.7066 7.51103 14.6103 7.47227 14.5103 7.47227H11.6896V5.74086C11.6896 4.90868 11.8933 4.48622 13.0073 4.48622L14.623 4.48566C14.8312 4.48566 15 4.32124 15 4.11863V1.37077C15 1.16835 14.8314 1.00412 14.6234 1.00375Z' fill='white')
		li.mx-2 
			a(href="#" target="_blank").w-10.h-10.inline-flex.items-center.justify-center.text-white.hover_text-blue-light.duration-300
				svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
					path.fill-current(fill-rule='evenodd' clip-rule='evenodd' d='M10 1.5C12.3085 1.5 12.5979 1.50978 13.5045 1.55115C14.4093 1.59242 15.0272 1.73612 15.5678 1.94626C16.1268 2.16345 16.6008 2.45409 17.0734 2.92663C17.5459 3.3992 17.8366 3.87323 18.0538 4.43218C18.2639 4.97284 18.4076 5.59073 18.4488 6.49546C18.4902 7.40208 18.5 7.69154 18.5 10C18.5 12.3085 18.4902 12.5979 18.4488 13.5045C18.4076 14.4093 18.2639 15.0272 18.0538 15.5678C17.8366 16.1268 17.5459 16.6008 17.0734 17.0734C16.6008 17.5459 16.1268 17.8366 15.5678 18.0538C15.0272 18.2639 14.4093 18.4076 13.5045 18.4488C12.5979 18.4902 12.3085 18.5 10 18.5C7.69154 18.5 7.40208 18.4902 6.49546 18.4488C5.59073 18.4076 4.97284 18.2639 4.43218 18.0538C3.87323 17.8366 3.3992 17.5459 2.92663 17.0734C2.45409 16.6008 2.16345 16.1268 1.94626 15.5678C1.73612 15.0272 1.59242 14.4093 1.55115 13.5045C1.50978 12.5979 1.5 12.3085 1.5 10C1.5 7.69154 1.50978 7.40208 1.55115 6.49546C1.59242 5.59073 1.73612 4.97284 1.94626 4.43218C2.16345 3.87323 2.45409 3.3992 2.92663 2.92663C3.3992 2.45409 3.87323 2.16345 4.43218 1.94626C4.97284 1.73612 5.59073 1.59242 6.49546 1.55115C7.40208 1.50978 7.69154 1.5 10 1.5ZM9.99734 12.8298C11.5616 12.8298 12.8298 11.5616 12.8298 9.99734C12.8298 8.433 11.5616 7.16488 9.99734 7.16488C8.433 7.16488 7.16488 8.433 7.16488 9.99734C7.16488 11.5616 8.433 12.8298 9.99734 12.8298ZM9.99734 5.63383C12.4072 5.63383 14.3608 7.58742 14.3608 9.99734C14.3608 12.4072 12.4072 14.3608 9.99734 14.3608C7.58742 14.3608 5.63383 12.4072 5.63383 9.99734C5.63383 7.58742 7.58742 5.63383 9.99734 5.63383ZM15.8556 5.37224C15.8556 5.94601 15.3904 6.41111 14.8166 6.41111C14.2429 6.41111 13.7778 5.94601 13.7778 5.37224C13.7778 4.79847 14.2429 4.33333 14.8166 4.33333C15.3904 4.33333 15.8556 4.79847 15.8556 5.37224Z' fill='white')
		li.mx-2 
			a(href="#" target="_blank").w-10.h-10.inline-flex.items-center.justify-center.text-white.hover_text-blue-light.duration-300
				svg(width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg')
					path.fill-current(fill-rule='evenodd' clip-rule='evenodd' d='M20 11C20 16.5228 15.5228 21 10 21C4.47715 21 0 16.5228 0 11C0 5.47715 4.47715 1 10 1C15.5228 1 20 5.47715 20 11ZM10.3584 8.38245C9.38572 8.78701 7.44179 9.62434 4.52659 10.8944C4.0532 11.0827 3.80522 11.2669 3.78265 11.4469C3.7445 11.7513 4.1256 11.8711 4.64457 12.0343C4.71516 12.0565 4.7883 12.0795 4.86329 12.1038C5.37387 12.2698 6.0607 12.464 6.41775 12.4717C6.74163 12.4787 7.10312 12.3452 7.50221 12.0711C10.226 10.2325 11.632 9.30318 11.7203 9.28315C11.7825 9.26902 11.8688 9.25124 11.9273 9.30321C11.9858 9.35518 11.98 9.45361 11.9738 9.48001C11.9361 9.64096 10.4401 11.0318 9.66594 11.7515C9.42459 11.9759 9.2534 12.135 9.21841 12.1714C9.14001 12.2528 9.06011 12.3298 8.98333 12.4038C8.50898 12.8611 8.15327 13.204 9.00302 13.764C9.41137 14.0331 9.73813 14.2556 10.0641 14.4776C10.4201 14.7201 10.7752 14.9619 11.2347 15.2631C11.3517 15.3398 11.4635 15.4195 11.5724 15.4971C11.9867 15.7925 12.359 16.0579 12.8188 16.0155C13.086 15.9909 13.3621 15.7397 13.5022 14.9903C13.8335 13.2193 14.4847 9.38206 14.6352 7.80082C14.6484 7.66228 14.6318 7.48498 14.6185 7.40715C14.6052 7.32932 14.5773 7.21843 14.4761 7.13634C14.3563 7.03912 14.1714 7.01862 14.0886 7.02008C13.7125 7.0267 13.1355 7.22736 10.3584 8.38245Z' fill='white')
		li.mx-2 
			a(href="#" target="_blank").w-10.h-10.inline-flex.items-center.justify-center.text-white.hover_text-blue-light.duration-300
				svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
					path.fill-current(fill-rule='evenodd' clip-rule='evenodd' d='M10 2.80078C7.102 2.80078 3.3406 3.53013 3.3406 3.53013L3.33113 3.54099C2.01123 3.75303 1 4.89226 1 6.27775V13.7225C1.00266 15.0907 1.99367 16.2531 3.33789 16.466L3.3406 16.4701C3.3406 16.4701 7.102 17.2008 10 17.2008C12.898 17.2008 16.6594 16.4701 16.6594 16.4701C18.0065 16.2562 18.9986 15.0922 19 13.7238V6.27775C18.998 4.91034 18.0068 3.74719 16.6621 3.5342C16.6594 3.53013 12.898 2.80078 10 2.80078ZM8.2 6.85078L13.6 10.0008L8.2 13.1508V6.85078Z' fill='white')